---
---
{% include fragment-pagebegin.html %}
<div class="col-12">
  <!--ReleaseHeader--><p id="publish-box">このページは作成中の内容です。</p><!--EndReleaseHeader-->
  <a name="root"> </a>
  <h2 id="root">{{site.data.pages[page.path].title}}</h2>
  <p>
    <b>Summary</b>
  </p>
  {%include {{[type]}}-{{[id]}}-summary.xhtml%}
  
  <p>
    <b>参照</b>
  </p>
  {%include {{[type]}}-{{[id]}}-xref.xhtml%}

  {% assign intro = site.data.pages[page.path].intro %}
  {% if site.data.pages[page.path].intro != null %}
  <div style="display:inline-block">
  {% include {{intro}} %}
  </div>
  {% endif %}

  <a name="definition"> </a>
  <h3 id="definition">コンテンツのロジカル定義</h3>

  {%include {{[type]}}-{{[id]}}-cld.xhtml%}
  
  <p>&#160;</p>
  <a name="expansion"> </a>
  <h3 id="expansion">拡張</h3>

  {%include {{[type]}}-{{[id]}}-expansion.xhtml%}

  <hr/>
  <p>
    このページに表示される可能性のある列の説明:
  </p>
  <table class="grid">
    <tr>
      <td>Level</td>
      <td>FHIRが定義するいくつかのコードリストは階層的です-各コードにはレベルが割り当てられます。
          このスキームでは、一部のコードが他のコードの下にあり、それらが下にあるコードも適用されることを意味します。</td>
    </tr>
    <tr>
      <td>Source</td>
      <td>コードの定義のソース（値セットが他の場所で定義されたコードを描画する場合）</td>
    </tr>
    <tr>
      <td>Code</td>
      <td>コード（リソースインスタンスのコードとして使用）</td>
    </tr>
    <tr>
      <td>Display</td>
      <td>ディスプレイ（<a href="{{site.data.fhir.path}}datatypes.html#Coding">Coding</a>)の<i>display</i>要素で使用されます。ディスプレイがない場合、実装者は単にコードを表示するのではなく、概念をアプリケーションにマッピングする必要があります。</td>
    </tr>
    <tr>
      <td>Definition</td>
      <td>コンセプトの意味の説明</td>
    </tr>
    <tr>
      <td>Comments</td>
      <td>コードの使用方法に関する追加の注意事項</td>
    </tr>
  </table>

  {% assign notes = site.data.pages[page.path].notes %}
  {% if site.data.pages[page.path].notes != null %}
  <div style="display:inline-block">
  {% include {{notes}} %}
  </div>
  {% endif %}
</div>
{% include fragment-pageend.html %}